PORT=3000

JWT_SECRET=your-jwt-secret-key


LDAP_URL_1=ldap://172.16.10.136:389
LDAP_BIND_DN_1=uid=zimbra,cn=admins,cn=zimbra
LDAP_BIND_PASSWORD_1=ldap-password-1
LDAP_SEARCH_BASE_1=dc=baktikominfo,dc=id

LDAP_URL_2=ldap://172.16.10.110:389
LDAP_BIND_DN_2=uid=zimbra,cn=admins,cn=zimbra
LDAP_BIND_PASSWORD_2=ldap-password-2
LDAP_SEARCH_BASE_2=dc=fellow,dc=baktikominfo,dc=id

LDAP_ADMINS=admin1,admin2

DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=your-database-name

